  <div id="nav-container">
    <div id="nav">
      <ul>
        <li>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= link_to "Restaurants", root_path %>
        </li>
        <li>
          <%= link_to "Login", root_path %>
        </li>
        <li><%= link_to "Register", root_path %>
        </li>
        <li><%= link_to "Logout", root_path %>
        </li>
      </ul>
    </div>
  </div>