<div>
  <button type="button" class="btn btn-primary">
  Back
</button>

</div>

<%= form_for(restaurant) do |f| %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="form-group">

    <%= f.label :category %>
  
  <select class="selectpicker">
  <option>Chinese</option>
  <option>'Merican</option>
  <option>Mexican</option>
  <option>Mo Bettah</option>
  <option>Chick-Fil-A</option>
  </select>
  </div>

  <div class="form-group">

    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
  
<% end %>
