<%= form_for(restaurant) do |f| %>


  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'name' %>
  </div>

  <div class="form-group">
    <%= f.text_field :location, class: 'form-control', placeholder: 'location' %>
  </div>

  <div class="form-group">
    <%= f.text_field :price, class: 'form-control', placeholder: 'price' %>
  </div>

  <div class="form-group">
    <%= f.text_field :link, class: 'form-control', placeholder: 'link' %>
  </div>

  <div class="form-group">
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, Category.all, :id, :name,
                            {
                              include_blank: true
                            },
                            class: 'form-control'
                            )
                            %>
  </div>
  
  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>
