<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Price:</strong>
  <%= price_change(@restaurant) %>
    
</p>

<p>
  <strong>Link:</strong>
  <%= @restaurant.link %>
</p>

<p>
  <strong>User:</strong>
  <%= @restaurant.user %>
</p>

<%= link_to "No likey! Find me a new restaurant.", @random_rest, class: "btn btn-primary" %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>


